---
name: Publish releases

on:
  release:
    types: [published]

jobs:
  build-and-push-container-image:
    name: Builds and pushes containers to ghcr.io
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v5
      - name: Log in to the GitHub container registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.11.1
      - name: Version number for tags
        id: tags
        shell: bash
        run: |-
          patch=${GITHUB_REF#refs/*/}
          echo "patch=${patch}" >> $GITHUB_OUTPUT
          echo "minor=${patch%.*}" >> $GITHUB_OUTPUT
          echo "major=${patch%.*.*}" >> $GITHUB_OUTPUT
      - name: Build and Push release
        uses: docker/build-push-action@v6.18.0
        with:
          context: ./music_assistant_beta/
          file: ./music_assistant_beta/Dockerfile
          platforms: linux/amd64,linux/arm64
          tags: |-
            ghcr.io/${{ github.repository_owner }}/mass-server:2.8.0.dev2026022602
          push: true
